*~
.#*
*#
.gradle
target/
build/
.idea/
out/
bin/
_site/
.classpath
.project
.settings
.springBeans
.DS_Store
gradle.properties
*.sw*
*.iml
*.ipr
*.iws
.factorypath
dump.rdb
.apt_generated
artifacts
/gradlew
/local.properties
/gradlew.bat
